$bigheading-color: #7272ff;
$p-color: #8585bd;
$h4-color: #2e2545;
$mobile: 820px;

@mixin flexEvenly {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
@mixin buttonStyle ($backgroundColor) {
    padding: 20px;
    border-radius: 100px;
    outline: none;
    border: none;
    color: #FFFFFF;
    border-width: 10px;
    letter-spacing: 1px;
    text-transform: uppercase !important;
    font-weight: 700;
    cursor: pointer;
    background-color: $backgroundColor;
}
.super-classroom{
    @include flexEvenly();
    padding: 180px 0;
    .left{
        width: 40%;
        .green-button{
            @include buttonStyle(#09e1c0)
        }
        .heading{
            color: #ffffff;
            font-size: 36px;
            padding: 0 0 20px;
        }
        .description{
            color: #d4ccff;
            line-height: 1.9em;
            font-size: 16px;
            padding-bottom: 40px;
        }

    }
    .right{
        width: 40%;
        &-img{
            width: 100%;
        }
    }
}
img{
    width: 100%;
}

@media screen and (max-width: $mobile) {
    .super-classroom{
        & .left{
            width: 90%;
        }
        .right{
            width: 90%;
            &-img{
                width: 100%;
            }
        }
    }
}

.what-we-offer{
    margin: 100px auto;

    &-intro{
        width: 40%;
        margin: auto;
        text-align: center;
    }
    &-heading{
        font-size: 36px;
        color: #7272ff;
        padding: 0 0 10px;
    }
    &-description{
        color: #8585bd;
        font-size: 16px;
    }
}
.offered{
    @include flexEvenly();
    padding: 0 100px;
}

@media screen and (max-width: 820px) {
    .what-we-offer{
        &-intro{
            width: 90%;
        }
    }
    .offered{
        @include flexEvenly();
        padding: 0 0px;
    }
}

.popular-courses{
    padding: 100px 0;

    &-intro{
        width: 40%;
        margin: auto;
        text-align: center;
        padding: 100px auto;
    }
    &-heading{
        font-size: 36px;
        color: #ffffff;
        padding: 0 0 10px;
    }
    &-description{
        color: #d4ccff;
        font-size: 16px;
    }

    .videos{
        padding: 60px 0 0 0;

        .each-video{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;

            .one-vid{
            padding-bottom: 60px;
                // width: 560px;
                // height: 315px;
                width: 40%;
                height: 340px;
            }
        }
    }
}
@media screen and (max-width: 820px) {
    .popular-courses{
        &-intro{
            width: 80%;
        }
        .videos{
            padding: 60px 0 0 0;
    
            .each-video{
                .one-vid{
                    padding-bottom: 60px;
                    width: 90%;
                }
            }
        }
    }
}

.people-saying{
    margin: 100px 0;

    &-intro{
        text-align: center;
        width: 40%;
        margin: auto;
    }

    &-heading{
        font-size: 36px;
        color: #7272ff;
        padding: 0 0 10px;
    }
    &-description{
        color: #8585bd;
        font-size: 14px;
        padding: 0 0 14px;
        text-align: center;
        width: 65%;
        margin: auto;
    }
    .swiper{
        height: fit-content;
        padding: 20px;
        width: 80%;
    }
    .swiper-button-prev, .swiper-button-next{
        color: #000;
    }
    .swiper-button-prev::after, .swiper-button-next::after{
        font-size: 25px !important;
        font-weight: bolder;
    }
    .swiper-pagination-bullet-active{
        background-color: #000;
    }
}

@media screen and (max-width: 820px) {
    .people-saying{
        margin: 100px 0;
    
        &-intro{
            width: 90%;
        }
        &-description{
            width: 80%;
        }
        .swiper{
            width: 90%;
        }
    }
}

.elevate-classroom{
    padding-bottom: 170px;
}
.free-trial{
    margin: 30px;
}