.offered-item{
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: center;
    padding: 20px;
    font-family: 'Open Sans', Arial, sans-serif;
}
.offered-image-container{
    width: 10%;
}
.offered-image{
    width: 100%;
}
.offered-stats{
    width: 80%;
}
.offered-title{
    padding: 10px 0 5px 0;
    color: #2e2545;
    font-size: 18px;
    line-height: 1.5em;
}
.offered-description{
    line-height: 1.9em;
    color: #8989bd;
    text-align: left;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 14px;
}

@media screen and (max-width: 820px) {
    .offered-item{
        width: 100%;
    }
}